.header {
  background: #333;
  position: fixed;
  top: 0;
  right: 0px;
  width: 100%;
}
.header ul li {
  display: inline-block;
  font-size: 16px;
  padding: 30px 20px 25px 28px;
}
.header ul li a {
  color: #ddd;
}
.mobile {
  display: none;
}
@media screen and (max-width: 600px) {
  .menu {
    display: block;
  }
  .mobile {
    display: flex;
  }
}

/* スマホ画面で例１のハンバーガーメニューの形にする
  @media
  screen
  and
  (max-width: 600px) {
  .nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background: #333;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2;
  }
  .nav ul li {
    display: block;
    padding: 20px 28px;
  }

  .nav ul li a {
    text-decoration: none;
    color: #ddd;
  }

  .header .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }

  .header .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }

  .header .btn-gnavi span:nth-child(1) {
    top: 0;
  }

  .header .btn-gnavi span:nth-child(2) {
    top: 10px;
  }

  .header .btn-gnavi span:nth-child(3) {
    top: 20px;
  }

  .header .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .header .btn-gnavi.open span {
    background: #fff;
  }

  .header .btn-gnavi.open span {
    width: 24px;
  }
  .header .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 6px #666;
  }

  .header .contents section:nth-child(odd) p {
    left: 10%;
  }

  .header .contents section:nth-child(even) p {
    right: 10%;
  }
} */
