body{
    margin: 0 auto;
}

.header{
    height: 100px;
    width: 100%;
    /* margin: 0 auto; */
}
.logo{
    height: 100%;
    width: 20%;
    /* margin: 0 auto; */
    text-align: right;
    float: left;
}
.logo > h1{
    margin: 0 auto;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 30px;
}
h1 a{
    text-decoration: none;
    color: #000000;

}

.nav{
    height: 100%;
    /* width: 50%; */
    margin-right: 10%;
    float: right;
    
}
.nav ul{
    width: 100%;
    /* float: left; */
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    
}
.nav li {
    display: inline;
    padding-left: 15px;
}

.nav a{
    text-decoration: none;
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    
  }

  .nav a::after {
      
    border-bottom: solid 3px #000000;
    bottom: 0;
    content: "";
    display: block;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 0%;
  }
  .nav a:hover::after {
    width: 100%;
  }

  .nav-mobile{
      display: none;

  }
  
/* header end */

.title{
    margin: 0 auto;
    /* border: 1px #000000 solid; */
    text-align: center;
    /* height: 400px; */

}
.title h2{
    font-size: 60px;
}

.title p{
    font-size: 30px;
    font-weight: 600;
}

.explanation{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.explanation p{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    font-size: 16px;
}


.skill{
    text-align: left;
    /* margin-left: 10%; */
    width: 100%;
    height: auto;
    margin-bottom: 10%;
    float: left;
    
}
.text{
    margin: 0 auto;
    margin-left: 10%;
    width: 20%;
    float: left;
    height: 400px;
}
.text p{
    width: 80%;
}
.slide{
    margin: 0 10%;
    width: 50%;
    float: left;
    height: 400px;
}

.no1{
    background: linear-gradient(transparent 70%, lightblue 70%);   
}
.no2{
    background: linear-gradient(transparent 70%, red 70%);   
}
.no3{
    background: linear-gradient(transparent 70%, lightgreen 70%);   
}
.no4{
    background: linear-gradient(transparent 70%, yellow 70%);   
}
.no5{
    background: linear-gradient(transparent 70%, #9999FF 70%);   
}
.no6{
    background: linear-gradient(transparent 70%, #32EEFF 70%);   

}
.no7{
    background: linear-gradient(transparent 70%, #64F9C1 70%);   
    
}


img{
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.address{
    margin:10% 0;
    width: 100%;
}

.left,.right{
    width: 45%;
    float: left;
    margin-left: 2.5%;
    /* margin-right: 2.5%; */
    padding: 0;
    
}
.left{
    text-align: center;
}
.footer{
    height:100px;
    /* border:solid black 1px; */
    float: left;
    width: 100%;
    margin-top: 10%;
}
.sns{
    /* border-bottom:solid black 1px; */
    height:50%;
    display: flex;
}

.space{
    width: 25%;
    height: 100%;
}

i{
    text-align: center;
    font-size: 2.5em;
  width: 10%;
  height: auto;
  margin-right: 3.33%;
  margin-left: 3.33%;  
  /* margin-top: 20px; */
}

.copyright{
    width: 100%;
    height:50%;
    text-align: center;
    padding-top: 10px;
    /* padding: 20px; */
}



@media screen and (max-width: 1000px) {
    .nav{
        display: none;
    }
    .nav-mobile {
        display: block;
        float: right;
        padding:10px;
        background: #ccc;
        margin: 20px 40px;
    }
    
    #nav-drawer {
        position: relative;
    }
      
      /*チェックボックス等は非表示に*/
    .nav-unshown {
        display:none;
    }
      
      /*アイコンのスペース*/
      #nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        /* height: 30px; */
        vertical-align: middle;
      }
      
      /*ハンバーガーの形をCSSで表現*/
      #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 3px;/*線の太さ*/
        width: 25px;/*長さ*/
        border-radius: 3px;
        /* border: solid #555 1px; */
        background: #555;
        display: block;
        content: '';
        cursor: pointer;
      }
      #nav-open span:before {
        bottom: -8px;
      }
      #nav-open span:after {
        bottom: -16px;
      }
      
      /*閉じる用の薄黒箇所*/
      #nav-close {
        display: none;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
      }
      
      /*メニューの中身*/
      #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 90%;
        max-width: 330px;
        height: 100%;
        background: #fff;
        transition: .3s ease-in-out;
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
        
      }
      #nav-content li{
        list-style: none;
        padding-bottom: 10px;
        
      }
      ul h1{
          font-size: 50px;
      }
      li a{
          font-size: 30px;
        text-decoration: none;
        color: #000000;
      }

      ul li{
          width: 60%;
        
      }

      li a::after {
      
        border-bottom: solid 3px #000000;
        bottom: 0;
        content: "";
        display: block;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        width: 0%;
      }
       li a:hover::after {
        width: 100%;
      }
    
  

      /*チェックがついたら表示させる*/
      #nav-input:checked ~ #nav-close {
        display: block;
        opacity: .5;
      }
      
      #nav-input:checked ~ #nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        box-shadow: 6px 0 25px rgba(0,0,0,.15);
      }
      
      .header-logo-menu{
       display: flex;
       display: -moz-flex;
       display: -o-flex;
       display: -webkit-flex;
       display: -ms-flex;
       flex-direction: row;
       -moz-flex-direction: row;
       -o-flex-direction: row;
       -webkit-flex-direction: row;
       -ms-flex-direction: row;
      }
        
}


@media screen and (max-width: 700px) {
    .text{
        width: 100%;
        float: left;
        height: 300px;
        margin-bottom: 10%;

    }
    .slide{
        width: 100%;
        float: left;
    }
    .left,.right{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    img{
        width: 80%;
        /* margin: 10%; */
    }
}