body {
  margin: 0 auto;
}

.header {
  height: 150px;
  width: 100%;
  /* margin: 0 auto; */
}
.logo {
  height: 100%;
  width: 20%;
  /* margin: 0 auto; */
  text-align: right;
  float: left;
}
.logo > h1 {
  margin: 0 auto;
  font-size: 50px;
  padding-top: 20px;
  padding-left: 30px;
}
.logo img {
  height: 90%;
}
h1 a {
  text-decoration: none;
  color: #000000;
}
.nav {
  height: 100%;
  /* width: 50%; */
  margin-right: 10%;
  float: right;
}
.nav ul {
  width: 100%;
  /* float: left; */
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
}
.nav li {
  display: inline;
  padding-left: 15px;
}

.nav a {
  text-decoration: none;
  color: #000000;
  font-size: 28px;
  font-weight: 700;
}

.nav a::after {
  border-bottom: solid 3px #000000;
  bottom: 0;
  content: "";
  display: block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  width: 0%;
}
.nav a:hover::after {
  width: 100%;
}

.nav-mobile {
  display: none;
}

.banner {
  height: 700px;
  width: 100%;
  background-image: url("../../img/banner.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}

.banner-text > h2 {
  color: #ffffff;
  padding-top: 170px;
  font-size: 36px;
  margin: 0 auto;

  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}

.button {
  width: 20%;
  margin: 10% 40%;
  padding: 10px 0px;
  /* border: solid 2px #ffffff; */
  border-radius: 5px;
  /* background-color: #ffffff;
    opacity: 0.5; */
  background: rgba(255, 255, 255, 0.6);
}
.button > a {
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
  /* color: #8db3c5; */
  font-weight: 700;

  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}

.banner-text > .button:hover {
  background-color: #000000;
  color: #ffffff;
}

.div-title hr {
  width: 10%;
  height: 4px;
  background-color: #000000;
  margin: 0 auto;
}

.highlights {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.button-lr {
  width: 15%;
  /* borderを消した時に15%に設定 */
  height: 100%;
  float: left;
  /* border: solid black 1px; */
}
.button-lr > i {
  padding-top: 60%;
}
.item {
  margin: 0 auto;
  width: 20%;
  height: 100%;
  float: left;
}

.item:hover {
  opacity: 1;
  /* 　  transition:all 0.6s ease; */
}
.highlights > .no2,
.highlights > .no3 {
  padding-left: 5%;
}
.item img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* members Area */

.members {
  width: 100%;
  /* height: 400px; */
  height: auto;
  /* margin: 5% auto; */
  margin-top: 0;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: left;
}

.person {
  margin: 0 auto;
  width: 20%;
  height: auto;
  float: left;
  /* text-align: center; */
}

.person h3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.members > .no2,
.members > .no3 {
  padding-left: 5%;
}

.person img {
  width: 60%;
  height: auto;
  /* margin: 10%; */
}
.person > .description {
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 18px;
  width: 80%;
}

/* reservation Area */
.reservation {
  width: 70%;
  /* margin: 5% 15%; */
  margin-top: 0;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  float: left;
  background-color: rgba(165, 165, 163, 0.6);
  border-radius: 20px;
  /* overflow: auto; */
}

.div-title h2 {
  margin: 5% 0 5% 0;
  text-align: center;
}

.left,
.right {
  width: 34%;
  float: left;
  margin-bottom: 30px;
  /* outline: 5px solid gray;
    outline-offset: -5px; */
}
.left {
  margin-right: 2%;
  margin-left: 15%;
}
.right {
  margin-right: 15%;
}

.res-form label {
  font-weight: 700;
  display: block;
  padding-top: 10px;
  white-space: nowrap;
}

.res-form input,
.res-form textarea {
  display: block;
  width: 80%;
  /* height: 30px; */
}
label,
input {
  display: block;
}

label > p {
  /* word-wrap: break-word; */
  /* word-wrap: break-word;s */
  /* overflow-wrap : break-word;  */
  /* display: none; */
  font-size: 12px;
}

.res-form input[type="text"],
.res-form input[type="tel"],
.res-form input[type="date"] {
  height: 30px;
  padding-bottom: 20px;
}

.res-form textarea {
  height: 90px;
}

/* .res-form .right{
  margin-bottom: 10px;
} */

#am,
#pm,
#agree,
.res-form .form-inline {
  display: inline;
  width: 10%;
  /* margin: 0; */
}

.res-form h3,
.res-form p {
  width: 80%;
  text-align: center;
  margin: 10px;
}

/* id classのないタグの指定方法 */
.res-form input[type="submit"] {
  margin-left: 40%;
  margin-bottom: 5%;
  width: 20%;
  height: 30px;
  background-color: #4caf50;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  /* padding-top: 10px; */
}
/* #send{
    margin: 10px;
} */

.res-form input[type="submit"]:hover {
  background-color: #357b37;
}

/* footer Area */
.footer {
  height: 100px;
  /* border:solid black 1px; */
  float: left;
  width: 100%;
}
.sns {
  /* border-bottom:solid black 1px; */
  height: 50%;
  display: flex;
}

.space {
  width: 25%;
  height: 100%;
}

i {
  text-align: center;
  font-size: 2.5em;
  width: 10%;
  height: auto;
  margin-right: 3.33%;
  margin-left: 3.33%;
  /* margin-top: 20px; */
}

.copyright {
  width: 100%;
  height: 50%;
  text-align: center;
  padding-top: 10px;
  /* padding: 20px; */
}

/* test start*/

/* figure {
    margin: 0;
    background: #111;
  }
figure img {
    opacity: 1;
    transition: .3s ease-in-out;
  }
figure:hover img {
    opacity: .5;
  }
figure:hover::before{
    content: "Lorem ipsum dolor sit amet.";
} */

figure {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* height: 100%; */
  margin: 0;
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* margin: 0; */
  width: 100%;
  height: 98%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
figcaption h3,
figcaption p {
  padding-top: 15%;
  color: #ffffff;
}

figure:hover figcaption {
  opacity: 0.9;
}
/* test end*/

@media screen and (max-width: 1000px) {
  .nav {
    display: none;
  }
  .nav-mobile {
    display: block;
    float: right;
    padding: 10px;
    background: #ccc;
    margin: 20px 40px;
  }
  #nav-drawer {
    position: relative;
  }

  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display: none;
  }

  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    /* height: 30px; */
    vertical-align: middle;
  }

  /*ハンバーガーの形をCSSで表現*/
  #nav-open span,
  #nav-open span:before,
  #nav-open span:after {
    position: absolute;
    height: 3px; /*線の太さ*/
    width: 25px; /*長さ*/
    border-radius: 3px;
    /* border: solid #555 1px; */
    background: #555;
    display: block;
    content: "";
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }

  /*閉じる用の薄黒箇所*/
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  /*メニューの中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 330px;
    height: 100%;
    background: #fff;
    transition: 0.3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
  #nav-content li {
    list-style: none;
    padding-bottom: 10px;
  }
  ul h1 {
    font-size: 50px;
  }
  li a {
    font-size: 30px;
    text-decoration: none;
    color: #000000;
  }

  ul li {
    width: 60%;
  }

  li a::after {
    border-bottom: solid 3px #000000;
    bottom: 0;
    content: "";
    display: block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    width: 0%;
  }
  li a:hover::after {
    width: 100%;
  }

  /*チェックがついたら表示させる*/
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: 0.5;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }

  .header-logo-menu {
    display: flex;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
  }
}

@media screen and (max-width: 700px) {
  .no2,
  .no3 {
    display: none;
  }
  .no1 {
    width: 50%;
  }
  .button-lr {
    width: 25%;
  }

  .left,
  .right {
    width: 85%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
