/*import Oswald OpenSans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@700&display=swap");

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

/* Reset */
* {
  color: #312a26;
  /* remove all spaces between elements */
  margin: 0;
  /* remove all spaces inside the element */
  padding: 0;
  /* include the padding and border on the total width of on element  */
  box-sizing: border-box;
  /* remove all lines */
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

p,
input,
span,
label,
a {
  font-family: "Open Sans", sans-serif;
}

/* Header Area */
.nav {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  /* what will happen to the containeer if the contents will overflow */
  overflow: auto;
  /* automatically add a scrollbar */
}

/* combinator */
/* parent child */

/* nav-left */
.nav h1 {
  width: 50%;
  float: left;
}

/* nav-right */
.nav ul {
  width: 50%;
  float: left;
  text-align: right;
  /* h1のmargin-topに合わせている。 */
  margin-top: 10px;
}

.nav li {
  display: inline;
  margin-left: 10px;
}

.nav a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

.nav ul a:hover {
  color: #c7a17a;
}

.nav h1 a {
  text-transform: capitalize;
}

/* Banner Area */
.banner {
  height: 650px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  overflow: auto;
  margin-bottom: 5%;
  /* 5% of the width of .banner */
}

.banner-text {
  width: 30%;
  margin-top: 10%;
  margin-left: 7.5%;
}

.banner-text h2 {
  font-size: 75px;
  line-height: 75px;
}

.banner span {
  color: #4caf50;
  font-family: "Oswald", sans-serif;
}

.banner p {
  font-style: italic;
  margin-bottom: 15px;
}

.banner a {
  display: inline-block;
  color: #ffffff;
  background-color: #312a26;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
}

.banner a:hover {
  background-color: black;
}
/* Ads 1 Area */
.ads {
  width: 85%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-bottom: 5%; */
  margin: 0 auto 5%;
  /* top right&left bottom */
  overflow: auto;
}
.ads .ads-box {
  /* 親の85%が子の100%となっている。 */
  /* (100-1)/2 = 49.5% */
  width: 49.5%;
  height: 350px;
  float: left;
  /* background-color: gainsboro; */
}

.ads-item1 {
  margin-right: 1%;
  background-image: url("../img/ads1.jpg");
  background-size: cover;
  background-position: center;
}

.ads-item2 {
  background-image: url("../img/ads2.jpg");
  background-size: cover;
  background-position: center;
}

.ads-text {
  width: 25%;
  margin-top: 15%;
  margin-left: 10%;
}

.ads-text h3 {
  color: #ffffff;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 20px;
}

.ads-text a {
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Merchandise Area */
.div-title {
  text-align: center;
  margin-bottom: 5%;
}

.div-title span {
  color: #c7a17a;
  font-size: 20px;
  font-size: italic;
}

.div-title h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.div-title hr {
  width: 10%;
  height: 4px;
  background-color: #c7a17a;
  margin: 0 auto;
}

/* merch gallery */
.merch-gallery {
  width: 85%;
  margin: 0 auto 5%;
  overflow: auto;
}

.merch-item {
  width: 24.25%;
  float: left;
}

.merch-item img {
  width: 100%;
}

.item1,
.item2,
.item3,
.item5,
.item6,
.item7 {
  margin-right: 1%;
}

.item1,
.item2,
.item3,
.item4 {
  margin-bottom: 1%;
}

.merch-item span,
.merch-item p {
  color: #c7a17a;
}

/* Ads Big Area */
.ads-big {
  width: 85%;
  height: 400px;
  margin: 0 auto 5%;

  background-image: url("../img/ads-big.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  /* overflow: auto; */
  /* transform: translate(50% 50%); */
  /* padding-top: 10%; */
}

.ads-big-text {
  /* guide lines */
  /* border: 2px solid red; */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;

  /* 位置の調節 */
  transform: translate(-50%, -50%);

  /* margin: 0 auto; */
}

.ads-big-text span {
  color: #c7a17a;
  font-style: italic;
  font-size: 25px;
}

.ads-big-text h2 {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 40px;
}

.ads-big-text a {
  display: inline-block;
  /* color: #ffffff; */
  background-color: #ffffff;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: 800;
}

.ads-big-text a:hover {
  background-color: #312a26;
  color: #ffffff;
}

/* Ads 2 Area */
.ads-item3,
.ads-item5 {
  margin-right: 1%;
}

.ads-item3,
.ads-item4 {
  margin-bottom: 1%;
}

.ads-item3 {
  background-image: url("../img/ads3.jpg");
  background-size: cover;
  background-position: center;
}

.ads-item4 {
  background-image: url("../img/ads4.jpg");
  background-size: cover;
  background-position: center;
}

.ads-item5 {
  background-image: url("../img/ads5.jpg");
  background-size: cover;
  background-position: center;
}

.ads-item6 {
  background-image: url("../img/ads6.jpg");
  background-size: cover;
  background-position: center;
}

/* Reservation Area */
.reservation {
  width: 85%;
  margin: 0 auto 5%;
  overflow: auto;
}

.left,
.right {
  width: 49.5%;
  float: left;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 5px;
}
.left {
  margin-right: 1%;
}

.res-form label {
  font-weight: 700;
  /* bold */
  display: block;
}

.res-form input,
.res-form select,
.res-form textarea {
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  margin-bottom: 10px;
}

.res-form .right .cards {
  margin-bottom: 10px;
}

#am,
#pm,
#agree,
.res-form .form-inline {
  display: inline;
  width: auto;
}

.res-form h3,
.res-form p {
  text-align: center;
}

/* id classのないタグの指定方法 */
.res-form input[type="submit"] {
  background-color: #4caf50;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 20px;
}

.res-form input[type="submit"]:hover {
  background-color: #357b37;
}

/* Footer1 Area */
.footer1 {
  background-image: url("../img/footer-image.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.footer-content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

/*  > direct child */
.footer1 .footer-content > div {
  width: 24.25%;
  float: left;
  /* background-color: #8d8d8d; */
}

.opening,
.latest-post,
.contact {
  margin-right: 1%;
}

.footer-content h3 {
  margin-bottom: 10px;
  color: #ffffff;
}

.opening th {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}

.opening tr td {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.latest-post h4 {
  color: #ffffff;
}

.latest-post p {
  color: #c7a17a;
}

.contact .email {
  color: #c7a17a;
}

.contact p {
  color: #ffffff;
  font-weight: 700;
}

.contact .std-post {
  margin-top: 15px;
}
.contact input {
  padding: 10px;
}

.contact #search-btn {
  background-color: #c7a17a;
}

.contact #search-btn:hover {
  background-color: #9d7e5f;
}

.location h4 {
  color: #c7a17a;
  margin-top: 15px;
}
.location p {
  color: #ffffff;
  font-weight: 700;
}

/* Footer2 Area */
.footer2 {
  background-color: black;
  /* width: 85%; */
}

.logo h1 {
  color: #ffffff;
  font-size: 24px;
}

.social li {
  display: inline;
  margin: 5px 5px 0;
}

.social a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.copyright p {
  color: #ffffff;
  font-weight: 700;
  margin-top: 5px;
}

.footer2 .footer-content > div {
  width: 32%;
  float: left;
}

.logo,
.social {
  margin-right: 2%;
}

.social {
  text-align: center;
}

.copyright {
  text-align: right;
}

/* @media - Tablet size */
/* The following styles will only take effect When the screen size is 768px or less */

@media screen and (max-width: 768px) {
  /* 2 columns to 1 column */
  .ads .ads-box {
    width: 100%;
    margin-bottom: 1%;
  }

  /* 4 columns to  column */
  .merch-item {
    width: 48.5%;
    /* margin-bottom: 1%; */
  }

  .left,
  .right {
    width: 100%;
  }

  .footer1 .footer-content > div {
    width: 49.5%;
    float: left;
    margin-bottom: 30px;
  }

  .latest-post {
    margin-right: 0;
  }

  .footer2 .footer1-content > div {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
}
